:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #252A33;
  --color-bg-base: #2E3440;
  --color-bg-surface: #373E4D;
  --color-bg-highlight: #40495A;
  --color-fg-shade: #4678AB;
  --color-fg-base: #6B96C2;
  --color-fg-surface: #96B4D4;
  --color-fg-highlight: #C0D2E5;
  --color-primary-bg: #343641;
  --color-primary-base: #676C82;
  --color-primary-fg: #A5A9B8;
  --color-secondary-bg: #4F5E6E;
  --color-secondary-base: #B2BDC8;
  --color-secondary-fg: #FFFFFF;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-shadow: 5px 5px 0px #343641;
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 2;
}
